<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boostrap Test</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <img src="images/2Q==-1.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-3">
          <img src="images/2Q==.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-3">
          <img src="images/9k=-1.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-3">
          <img src="images/9k=-2.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-3">
          <img src="images/9k=-3.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-3">
          <img src="images/9k=.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-3">
          <img src="images/Z-1.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-3">
          <img src="images/Z-2.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-3">
          <img src="images/Z-3.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-3">
          <img src="images/Z-4.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-3">
          <img src="images/Z-5.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-3">
          <img src="images/Z.jpg" alt="">
        </div>
      </div>

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
